<mat-drawer class="sidebar" mode="side" opened>
  <div class="sidebar-logo">
    <img
    width="80"
    alt="Woodsman Logo"
    src="../assets/woodsman.jpeg"
    />
    <h1>Woodsman</h1>
    <div class="spacer"></div>
  </div>
  <div class="spacer"></div>
  <mat-selection-list [multiple]="false">
    <!-- <mat-list-option *ngFor="let link of availableLinks" [value]="link"> -->
    <mat-list-option class="sidebar-list-option">
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="terminal icon">terminal</mat-icon>
        <a aria-label="Live Tails" target="_blank" class="sidebar-links"
        rel="noopener" href="" title="Live_Tails">
          &nbsp;&nbsp; Live Tails
        </a>
      </mat-list-item>
    </mat-list-option>
    <mat-list-option class="sidebar-list-option">
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="token icon">token</mat-icon>
        <a aria-label="Sources" target="_blank" class="sidebar-links"
        rel="noopener" href="" title="Sources">
        &nbsp;&nbsp; Sources
        </a>
      </mat-list-item>
    </mat-list-option>
    <mat-list-option class="sidebar-list-option">
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="visibility icon">visibility</mat-icon>
        <a aria-label="View" target="_blank" class="sidebar-links"
        rel="noopener" href="" title="view">
        &nbsp;&nbsp; View
        </a>
      </mat-list-item>
    </mat-list-option>
    <mat-list-option class="sidebar-list-option">
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="error icon">error</mat-icon>
        <a aria-label="Alerts" target="_blank" class="sidebar-links"
        rel="noopener" href="" title="Alerts">
        &nbsp;&nbsp; Alerts
        </a>
      </mat-list-item>
    </mat-list-option>
    <mat-list-option class="sidebar-list-option">
      <mat-list-item>
        <a aria-label="Dashboards" target="_blank" class="sidebar-links"
        rel="noopener" href="" title="Dashboards">
        &nbsp;&nbsp; Dashboards
        </a>
      </mat-list-item>
    </mat-list-option>
    <mat-list-option class="sidebar-list-option">
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="webhook icon">webhook</mat-icon>
        <a aria-label="Integrations" target="_blank" class="sidebar-links"
        rel="noopener" href="" title="Integrations">
        &nbsp;&nbsp; Integrations
        </a>
      </mat-list-item>
    </mat-list-option>
    <mat-list-option class="sidebar-list-option">
      <mat-list-item>
        <mat-icon aria-hidden="false" aria-label="question_mark icon">question_mark</mat-icon>
        <a aria-label="Help&Support" target="_blank" class="sidebar-links"
        rel="noopener" href="" title="Help&Support">
        &nbsp;&nbsp; Help & Support
        </a>
      </mat-list-item>
    </mat-list-option>
  </mat-selection-list>
  <div class="spacer"></div>
  <mat-selection-list class="sidebar-mode-switch" [multiple]="false">
    <!-- <mat-list-option *ngFor="let link of availableLinks" [value]="link"> -->
    <mat-list-option class="sidebar-list-option">
      <mat-list-item class="sidebar-switch-button" *ngIf="isDarkMode; else elseBlock" (click)="switchModes()">
          &nbsp;&nbsp;  Dark Mode
      </mat-list-item>
      <ng-template #elseBlock >
        <mat-list-item class="sidebar-switch-button" (click)="switchModes()">
          &nbsp;&nbsp;  Light Mode
        </mat-list-item>
      </ng-template>
    </mat-list-option>
  </mat-selection-list>
</mat-drawer>

