<div class="code-data">
  <!-- <div class="card highlight-card card-small">
    <span>{{ title }} app is running!</span>
    <mat-icon aria-hidden="false" aria-label="search icon">search</mat-icon>
    <mat-icon aria-hidden="false" aria-label="schedule icon">schedule</mat-icon>
    <mat-icon aria-hidden="false" aria-label="info icon">info</mat-icon>
    <mat-icon aria-hidden="false" aria-label="code icon">code</mat-icon>
    <mat-icon aria-hidden="false" aria-label="notifications icon">notifications</mat-icon>
    <mat-icon aria-hidden="false" aria-label="bookmark icon">bookmark</mat-icon>
    <mat-icon aria-hidden="false" aria-label="clear day icon">clear_day</mat-icon>
    <mat-icon aria-hidden="false" aria-label="clear night icon">clear_night</mat-icon>
    <mat-icon aria-hidden="false" aria-label="expand_more icon">expand_more</mat-icon>
    <mat-icon aria-hidden="false" aria-label="expand_less icon">expand_less</mat-icon>
    <mat-icon aria-hidden="false" aria-label="unfold more icon">unfold_more</mat-icon>
    <mat-icon aria-hidden="false" aria-label="error circle rounded icon">error_circle_rounded</mat-icon>
  </div> -->
  <table>
    <tbody>
        <tr *ngFor="let log of logs">
            <td>{{log}}</td>
        </tr>
    </tbody>
</table>

</div>
